/* General Reset */
body {
    font-family: 'Poppins', sans-serif;
    margin: 40px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
}

/* Header */
h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 30px;
}

/* Form Styling */
form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

/* Labels */
label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

/* Inputs and Buttons */
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #27ae60;
}

/* Messages */
p {
    margin-top: 20px;
    font-size: 16px;
}

p strong {
    color: #2c3e50;
}

/* Download Link */
a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


.instructions {
    background-color: #f9f9f9;
    border-left: 4px solid #007bff;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 14px;
}

#product-url.link-pasted {
    color: #0645AD;
}


.form-actions {
    display: flex;
    align-items: center;
    gap: 140px; /* spacing between button and progress bar */
    margin-top: 20px;
    flex-wrap: wrap;
}

/* Progress Container */
#progress-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 350px;
}

/* Bar background */
.progress-bar-bg {
    width: 100%;
    background-color: #eee;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    height: 30px;
}

#bar {
    width: 0%;
    height: 100%;
    background-color: #419244;
    transition: width 0.4s ease;
    border-radius: 8px 0 0 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}


